 <!-- 追従 -->
 <div class="follow">
    <a href="list.html">
      <img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/follow_img_01.png" alt="">
      <span>
        <img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/follow_img_02.svg" alt="">
      </span>
    </a>
  </div>
  <div class="follow_sp">
    <a href="list.html">
      <img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/follow_sp.png" alt="">
    </a>
  </div>


  {% schema %}
  {
    "name": "follow",
    "presets": [
      {
        "name": "follow"
      }
    ]
  }
  {% endschema %}
  