<footer>
  <div class="footer_wrap">
    <img class="deco_05" src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/deco_05.png" alt="">
    <img class="deco_05_sp" src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/deco_05_sp.png" alt="">
    <img class="deco_06" src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/deco_06.png" alt="">
    <div class="footer_pc">
      <div class="footer_pc_left">
        <a class="logo" href="/"
          ><img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/logo_02.svg" alt=""
        ></a>

        <div class="footer_text">
          <p>
            〒901-0306<br>
            沖縄県糸満市西崎町4-12-2
          </p>
        </div>

        <div class="footer_text">
          <p>
            ◼︎TEL：098-994-6277<br>
            ◼︎FAX：098-992-2454
          </p>
        </div>

        <div class="footer_text">
          <p>
            ◼︎営業時間：8:00~17:00<br>
            ◼︎休日：水曜日・日曜・祝祭日
          </p>
        </div>
      </div>

      <div class="footer_pc_right">
        <ul>
          <li><a href="/">TOP</a></li>
          <li><a href="/pages/about">那覇魚類について</a></li>
          <li><a href="/collections/all">オンラインショップ</a></li>
          <li><a href="products.html">取扱商品</a></li>
        </ul>

        <ul>
          <li><a href="/blogs/news">新着情報</a></li>
          <li><a href="/pages/faq">よくあるご質問</a></li>
          <li><a href="/pages/contact">お問い合わせ</a></li>
        </ul>

        <ul>
          <li class="mypage">
            <a href="/account"
              ><img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/mypage2.svg" alt="">ログイン</a
            >
          </li>
          <li class="cart">
            <a href="/cart"
              ><img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/cart2.svg" alt="">カート</a
            >
          </li>
          <li><a href="/pages/company">会社概要</a></li>
          <li><a href="/pages/terms">特定商取引法に基づく表記</a></li>
          <li><a href="/pages/privacy">プライバシーポリシー</a></li>
        </ul>
      </div>
    </div>
    <!-- sp -->
    <div class="footer_sp">
      <a class="logo" href="/"><img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/logo_02.svg" alt=""></a>
      <ul class="footer_sp_link_01">
        <li><a href="/">TOP</a></li>
        <li><a href="/blogs/news">新着情報</a></li>
        <li><a href="/pages/about">那覇魚類について</a></li>
        <li><a href="/pages/faq">よくあるご質問</a></li>
        <li><a href="/collections/all">オンラインショップ</a></li>
        <li><a href="/pages/contact">お問い合わせ</a></li>
        <li><a href="products.html">取扱商品</a></li>
      </ul>

      <ul class="footer_sp_link_02">
        <li>
          <a href="/account"
            ><img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/mypage2.svg" alt="">ログイン</a
          >
        </li>
        <li>
          <a href="/cart"><img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/cart2.svg" alt="">カート</a>
        </li>
        <li><a href="/pages/company">会社概要</a></li>
        <li><a href="/pages/terms">特定商取引法に基づく表記</a></li>
        <li><a href="/pages/privacy">プライバシーポリシー</a></li>
      </ul>

      <div class="footer_sp_address">
        <p>
          〒901-0306<br>
          沖縄県糸満市西崎町4-12-2
        </p>
        <p>
          ◼︎TEL：098-992-2454<br>
          ◼︎FAX：098-992-2454
        </p>
        <p>
          ◼︎営業時間：8:00~17:00<br>
          ◼︎休日：水曜日・日曜・祝祭日
        </p>
      </div>
    </div>
    <small>© NAHA GYORUI. All rights reserved.</small>
  </div>
</footer>
