 <!------------------------ 那覇魚類について ---------------------->
 <section id="top_about">
    <div class="section_inner">
      <div class="section_title fadeUpTrigger delay-time02">
        <img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/section_titile.svg" alt="">
        <h2>那覇魚類について</h2>
        <span class="is_sp about_span">ABOUT NAHA GYORUI</span>
      </div>

      <div class="top_about_wrap fadeUpTrigger delay-time04">
        <a href="/pages/about#about_01">
          <img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/top_about_01.png" alt="">
          那覇魚類のつよみ
          <span class="btn_01">詳しく見る</span>
        </a>

        <a href="/pages/about#about_02">
          <img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/top_about_02.png" alt="">
          業務内容
          <span class="btn_01">詳しく見る</span>
        </a>
      </div>
    </div>
  </section>

{% schema %}
{
  "name": "top-page04",
  "presets": [
    {
      "name": "top-page04"
    }
  ]
}
{% endschema %}
