<!-- ---------------------- オンラインショップ -------------------- -->
<section id="ec">
  <div class="section_inner">
    <div class="ec_title fadeUpTrigger delay-time02">
      <p>全国発送！</p>
      <h2>
        沖縄から、<br class="is_sp">
        海の幸を届けます！
      </h2>
      <span>ONLINE SHOP</span>
    </div>

    <div class="ec_link fadeUpTrigger delay-time04">
      <a class="ec_link_01" href="">
        <img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/ec_link_001.png" alt="">
        <span class="btn_01">中華イカ</span>
      </a>

      <a class="ec_link_01" href="">
        <img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/ec_link_002.png" alt="">
        <span class="btn_01">ネギトロ</span>
      </a>

      <a class="ec_link_01" href="">
        <img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/ec_link_003.png" alt="">
        <span class="btn_01">その他加工品</span>
      </a>

      <img class="sp_deco01" src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/sp_deco01.png" alt="">
      <a class="ec_link_02" href="list.html">
        <img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/logo.svg" alt="">
        那覇魚類オンラインショップ
        <span class="btn_02">全ての商品を見る</span>
      </a>
      <img class="sp_deco02" src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/sp_deco02.png" alt="">
    </div>
  </div>
</section>
<img class="deco_03" src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/deco_03.png" alt="">

{% schema %}
{
  "name": "top-page03",
  "presets": [
    {
      "name": "top-page03"
    }
  ]
}
{% endschema %}
