 <!------------------------ 取扱商品 ---------------------->
 <section id="top_catalog">

    <div class="top_catalog_flex">

      <div class="top_catalog_slide">
        <div class="swiper-container top_catalog_slide_left">
          <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/top_catalog_slide_01.png" alt=""></div>
            <div class="swiper-slide"><img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/top_catalog_slide_02.png" alt=""></div>
            <div class="swiper-slide"><img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/top_catalog_slide_03.png" alt=""></div>
            <div class="swiper-slide"><img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/top_catalog_slide_04.png" alt=""></div>
          </div>
        </div>
        <div class="swiper-container top_catalog_slide_right">
          <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/top_catalog_slide_05.png" alt=""></div>
            <div class="swiper-slide"><img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/top_catalog_slide_06.png" alt=""></div>
            <div class="swiper-slide"><img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/top_catalog_slide_07.png" alt=""></div>
            <div class="swiper-slide"><img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/top_catalog_slide_08.png" alt=""></div>
          </div>
        </div>
      </div>

      <!-- spスライド -->
      <ul class="catalog_sp_01">
        <li><img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/top_catalog_slide_01.png" alt=""></li>
        <li><img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/top_catalog_slide_02.png" alt=""></li>
        <li><img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/top_catalog_slide_03.png" alt=""></li>
        <li><img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/top_catalog_slide_04.png" alt=""></li>
      </ul>

      <div class="top_catalog_right fadeUpTrigger delay-time02">
        <div class="section_title">
          <img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/section_title2.png" alt="">
          <h2>取扱商品</h2>
          <span>CATALOG</span>
        </div>

        <p>卸希望の方、業者様は<br>こちらをご覧ください。</p>

        <a class="btn_02" href="products.html">取扱商品を見る</a>
      </div>
      <ul class="catalog_sp_01">
        <li><img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/top_catalog_slide_05.png" alt=""></li>
        <li><img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/top_catalog_slide_06.png" alt=""></li>
        <li><img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/top_catalog_slide_07.png" alt=""></li>
        <li><img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/top_catalog_slide_08.png" alt=""></li>
      </ul>
    </div>
  </section>
{% schema %}
{
  "name": "top-page05",
  "presets": [
    {
      "name": "top-page05"
    }
  ]
}
{% endschema %}
