 <!------------------------ バナースライド ---------------------->

 <section id="banner">
    <div class="banner_bg">
      <ul class="banner_slide">
        <li><a href=""><img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/banner_01.png" alt=""></a></li>
        <li><a href=""><img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/banner_01.png" alt=""></a></li>
        <li><a href=""><img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/banner_01.png" alt=""></a></li>
        <li><a href=""><img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/banner_01.png" alt=""></a></li>
        <li><a href=""><img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/banner_01.png" alt=""></a></li>
      </ul>
    </div>
  </section>

  {% schema %}
  {
    "name": "top-page02",
    "presets": [
      {
        "name": "top-page02"
      }
    ]
  }
  {% endschema %}
  