<!------------------------ 新着情報 ---------------------->
<section id="top_news">
    <img class="deco_04" src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/deco_04.png" alt="">
    <div class="section_inner">
      <div class="section_title fadeUpTrigger delay-time02">
        <img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/section_title2.png" alt="">
        <h2>新着情報</h2>
        <span>NEWS</span>
      </div>

      <div class="latest_news fadeUpTrigger delay-time04">
        {% assign latest_articles = blogs['news'].articles | slice: 0, 3 %}
        {% for article in latest_articles %}
          <a href="{{ article.url }}">
            <span>{{ article.published_at | date: '%Y.%m.%d' }}</span>
            {{ article.title }}
          </a>
        {% endfor %}
      </div>
      
      <a class="btn_01 fadeUpTrigger delay-time06" href="/blogs/news">一覧を見る</a>
    </div>
  </section>
{% schema %}
{
  "name": "top-page06",
  "presets": [
    {
      "name": "top-page06"
    }
  ]
}
{% endschema %}
