 <!------------------------ お問い合わせ ---------------------->
 <section id="top_contact">
    <div class="top_contact_bg">
      <div class="section_inner">
        <div class="section_title fadeUpTrigger delay-time02">
          <img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/section_title2.png" alt="">
          <h2>お問い合わせ</h2>
          <span>CONTACT</span>
        </div>

        <div class="top_contact_wrap fadeUpTrigger delay-time04">
          <div class="top_tel">
            <p>お電話から</p>
            <a class="" href="tel:098-994-6277">
              <img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/top_tel.svg" alt="">
              098-994-6277
            </a>
            <span class="is_pc_span">■営業時間：8:00〜17:00 | ■休日：水曜日・日曜・祝祭日</span>
            <span class="is_sp_span">■営業時間：8:00〜17:00<br>■休日：水曜日・日曜・祝祭日</span>
          </div>


          <div class="top_form">
            <a class="" href="contact.html">
              <img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/top_form.svg" alt="">
              お問い合わせフォームから
            </a>
          </div>
        </div>

        <div class="top_faq fadeUpTrigger delay-time06">
          <h3><img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/top_faq.svg" alt="">よくあるご質問</h3>
          <p>お客様からよく寄せられる質問とその回答を<br class="is_pc">まとめておりますので、ぜひご覧ください。</p>
          <a class="btn_02" href="faq.html">
            よくあるご質問を見る
          </a>
        </div>
      </div>
    </div>
  </section>
{% schema %}
{
  "name": "top-page07",
  "presets": [
    {
      "name": "top-page07"
    }
  ]
}
{% endschema %}
