<!------------------------ ファーストビュー ---------------------->
<section id="fv">
    <img class="fv_deco_01" src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/fv_deco_01.png" alt="">
    <div class="fv_img_wrapper">
      <img class="kaisen" src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/kaisen.png" alt="">
      <img class="asa" src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/asa.png" alt="">
      <img class="ika" src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/ika.png" alt="">
    </div>

    <img class="cp_pc" src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/cp_pc.png" alt="">
    <img class="fv_deco_02" src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/fv_deco_02.png" alt="">
  </section>

  {% schema %}
  {
    "name": "top-page01",
    "presets": [
      {
        "name": "top-page01"
      }
    ]
  }
  {% endschema %}
  