  <!------------------------ 下層ファーストビュー ---------------------->
  <section id="fv_under">
    <img class="fv_deco_01" src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/under_fv_deco_01.png" alt="">
    <div class="section_title">
        <img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/section_title2.png" alt="">
        <h1>よくあるご質問</h1>
        <span>Q&A</span>
    </div>
    <img class="fv_deco_02" src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/under_fv_deco_02.png" alt="">
</section>

<!------------------------ ページ内リンク ---------------------->

<section id="page_link">
    <div class="section_inner_00 section_inner">
        <a href="#faq_01">注文・お支払いについて</a>
        <a href="#faq_02">配送・送料について</a>
        <a href="#faq_03">返品・交換について</a>
    </div>
</section>

<!------------------------ よくある質問 ---------------------->

<section id="faq_01">
    <div class="section_inner">
        <div class="section_title3">
            <h2>注文・お支払いについて</h2>
        </div>

        <div class="faq_wrapper">
            <div class="faq_inner">
                <div class="faq_q">支払い方法は何がありますか？</div>
                <div class="faq_a">当店では、クレジットカード・代金引換・銀行振込をご利用いただけます。</div>
            </div>

            <div class="faq_inner">
                <div class="faq_q">電話やFAXで注文できますか？</div>
                <div class="faq_a">ご注文方法はインターネットからのご注文のみとなっております。お電話やFAX、メールでのご注文は承っておりませんのでご了承ください。</div>
            </div>

            <div class="faq_inner">
                <div class="faq_q">ギフトラッピングはできますか？</div>
                <div class="faq_a">ギフトラッピングはできますか？ギフトラッピングはできますか？</div>
            </div>

            <div class="faq_inner">
                <div class="faq_q">注文してからどれくらいにで発送されますか？</div>
                <div class="faq_a">
                    ご注文・決済完了後、土日祝日を除く5営業日以内に発送いたします。<br>※製造・ご注文の状況により、発送日が前後する可能性がございます。あらかじめご了承ください。<br>※お急ぎの方は、お問い合わせフォームよりご相談ください。
                </div>
            </div>

            <div class="faq_inner">
                <div class="faq_q">注文内容の変更/キャンセルをしたいです</div>
                <div class="faq_a">商品の発送前でしたら対応可能な場合もございます。一度、お問合せフォームよりご相談ください。</div>
            </div>

            <div class="faq_inner">
                <div class="faq_q">注文したのですが、注文確認のメールが届かないです</div>
                <div class="faq_a">
                    当社からのご注文受付メールは、お客様のご注文完了後、システムにより自動的に配信されます。ご注文いただいてから1日以上経っても確認メールが届かない場合は、下記の点をご確認ください。<br>
                    <br>
                    ●ご注文時に登録いただきましたメールアドレスに誤り・変更はございませんか？・特に@以降の間違いが多くございます。<br>
                    「@***.ne.jp」・ハイフン「-」とアンダーバー「_ 」の入力にご注意ください。<br>
                    <br>
                    ●受信拒否の設定をされていませんか？・特にスマートフォンにおいて、受信先の設定をされている場合がございます。設定をご確認いただき、受信先を指定されている場合は、「info@sample.com」からのメールを受信ドメインにご登録ください。
                </div>
            </div>


        </div>
    </div>
</section>


<section id="faq_02">
    <div class="section_inner">
        <div class="section_title3">
            <h2>配送・送料について</h2>
        </div>

        <div class="faq_wrapper">
            <div class="faq_inner">
                <div class="faq_q">送料はいくらですか？</div>
                <div class="faq_a">北海道・東北地方　1,500円　<br>
                    信越・北陸・関東・東海・近畿・四国・中国　1,000円<br>
                    九州・沖縄　500円<br>
                    ※１回のご注文金額が商品代金5,000円（税込）以上の場合、全国無料配送になります。</div>
            </div>

            <div class="faq_inner">
                <div class="faq_q">日付指定できますか？</div>
                <div class="faq_a">お届け日は、ご注文日の7日以降よりご希望の日時をお選びいただけます。
                    お届け日を指定しない場合は、ご注文・決済完了後、土日祝日を除く5営業日以内に発送いたします。<br>※お急ぎの方は、お問合せフォームよりご相談ください。</div>
            </div>

            <div class="faq_inner">
                <div class="faq_q">複数の配送先に送りたいのですが、可能ですか？</div>
                <div class="faq_a">1回のご注文内でお届け先を分けることはできかねます。複数の配送先へのお届けをご希望の場合は、お手数ですがそれぞれのお届け先ごとにご注文をお願いいたします。
                </div>
            </div>

            <div class="faq_inner">
                <div class="faq_q">配送の状況はどこから確認できますか？</div>
                <div class="faq_a">
                    商品の発送完了後、ご注文時のメールアドレスに「商品を発送いたしました」というメールをお届けしており、メール内に伝票番号を記載しています。配送状況につきましては、日本郵便の荷物お問合せシステムよりご確認いただけます。
                </div>
            </div>

            <div class="faq_inner">
                <div class="faq_q">海外への発送は可能ですか？</div>
                <div class="faq_a">申し訳ございませんが、海外への発送は承っておりません。</div>
            </div>

            <div class="faq_inner">
                <div class="faq_q">別々に注文した商品を同梱できますか？</div>
                <div class="faq_a">
                    複数回ご注文いただき、かつ発送準備前で、下記の条件に該当する場合は、送料を調整し1件分のご注文としておまとめ可能です。ただし、コンビニ決済・銀行振込を選択されおり、お支払いが完了している場合など、対応が難しい場合もございます。一度、お問合せフォームよりご相談ください。<br>・お届け先やお届け日などの情報が同一の場合<br>・お客さまから同梱を希望される旨をご連絡をいただいた場合
                </div>
            </div>
        </div>
    </div>
</section>

<section id="faq_03">
    <div class="section_inner">
        <div class="section_title3">
            <h2>返品・交換について</h2>
        </div>

        <div class="faq_wrapper">
            <div class="faq_inner">
                <div class="faq_q">商品を返品・交換したいです</div>
                <div class="faq_a">商品到着後のお客様のご都合による返品・交換は、原則としてお受けしておりません。<br>不良品の場合は、商品到着から1週間以内の申し出で返品対応いたします。
                </div>
            </div>

            <div class="faq_inner">
                <div class="faq_q">届いた商品に商品に不備がありました</div>
                <div class="faq_a">商品到着後1週間以内に、お問合せフォームまたはお電話にてご連絡をいただけますようお願い申し上げます。<br>
                    その際お手数ですが、①お名前、②お電話番号、③受注番号（「ご注文確認メール」に記載されております）をお知らせください。<br>
                    手続きの手順について、ご案内させていただきます。</div>
            </div>

        </div>
    </div>
</section>