<!------------------------ 下層ファーストビュー ---------------------->
<section id="fv_under">
    <img class="fv_deco_01" src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/under_fv_deco_01.png" alt="">
    <div class="section_title">
        <img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/section_title2.png" alt="">
        <h1>お問い合わせ</h1>
        <span>CONTACT</span>
    </div>
    <img class="fv_deco_02" src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/under_fv_deco_02.png" alt="">
    <img class="under_nami" src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/under_nami.png" alt="">
</section>


<!------------------------ お問い合わせ ---------------------->

<section id="contact">
    <div class="section_inner">
        <div class="contact_text_01">
            <p>お問い合わせは、下記お電話またはメールフォームにて承ります。</p>
            <p>また、お客さまからよく寄せられる質問とその回答を、<br>
                <a href="faq.html">「よくあるご質問」ページ</a>にまとめておりますので、ぜひご覧ください。
            </p>
        </div>

        <div class="contact_tel">
            <div class="section_title3">
                <h2>お電話から</h2>
            </div>
            <a href="tel:098-994-6277"><img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/contact_tel.svg" alt="">098-994-6277</a>
            <p class="is_pc">■営業時間：8:00〜17:00 | ■休日：水曜日・日曜・祝祭日</p>
            <p class="is_sp">■営業時間：8:00〜17:00<br>■休日：水曜日・日曜・祝祭日</p>
        </div>

        <div class="contact_form">
            <div class="section_title3">
                <h2>メールフォームから</h2>
            </div>

            <div class="form_wrapper">
                {% section 'contact-form' %}
            </div>
        </div>
    </div>
</section>
