 <!------------------------ 下層ファーストビュー ---------------------->
 <section id="fv_under">
    <img class="fv_deco_01" src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/under_fv_deco_01.png" alt="">
    <div class="section_title">
        <img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/section_title2.png" alt="">
        <h1>特定商取引法に基づく表記</h1>
        <span>TERMS</span>
    </div>
    <img class="fv_deco_02" src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/under_fv_deco_02.png" alt="">
    <img class="under_nami" src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/under_nami.png" alt="">
</section>


<!------------------------ 会社概要 ---------------------->

<section id="company" class="terms">
    <div class="section_inner">
        <table>
            <tr>
                <th>販売業者</th>
                <td>株式会社 那覇魚類</td>
            </tr>

            <tr>
                <th>運営統括責任者</th>
                <td>山田　太郎</td>
            </tr>

            <tr>
                <th>所在地</th>
                <td>〒901-0306　<br class="is_sp">沖縄県糸満市西崎町4-12-2</td>
            </tr>

            <tr>
                <th>TEL</th>
                <td>098-994-6277</td>
            </tr>

            <tr>
                <th>FAX</th>
                <td>098-992-2454</td>
            </tr>

            <tr>
                <th>メールアドレス</th>
                <td>info@sample.com</td>
            </tr>

            <tr>
                <th>取扱商品</th>
                <td>魚介類の加工品及び惣菜品</td>
            </tr>

            <tr>
                <th>販売価格</th>
                <td>各商品ページをご参照ください</td>
            </tr>

            <tr>
                <th>商品代金以外の<br>
                    必要代金</th>
                <td>消費税・送料・手数料（代引き手数料 300円＋税）はお客様負担となります</td>
            </tr>

            <tr>
                <th>送料について</th>
                <td>北海道・東北地方　1,500円　<br>
                    信越・北陸・関東・東海・近畿・四国・中国　1,000円<br>
                    九州・沖縄　500円<br>
                    ※１回のご注文金額が商品代金5,000円（税込）以上の場合、全国無料配送になります。</td>
            </tr>

            <tr>
                <th>申し込みの有効期限</th>
                <td>原則、受注確認（受注確認の為の自動送信メール発信）後、10日間とします。</td>
            </tr>

            <tr>
                <th>不良品</th>
                <td>商品が届きましたら直ちに内容のご確認をお願いいたします。<br>
                    万が一不良品の疑いがございましたら、直ちにご連絡ください。<br>
                    商品到着後のお客様のご都合による返品・交換は、原則としてお受けしておりません。<br>
                    不良品の場合は、商品到着から1週間以内の申し出で返品対応いたします。</td>
            </tr>

            <tr>
                <th>引渡時期</th>
                <td>決済完了後（代金引換を除く）、5営業日以内(土日祝日を除く)に発送いたします。<br>
                    天候不順・配送業者の都合・その他何らかの理由により 遅延する場合はメール等でお知らせいたします。</td>
            </tr>

            <tr>
                <th>お支払い方法</th>
                <td>クレジットカード・代金引換・銀行振込</td>
            </tr>

            <tr>
                <th>お支払い期限</th>
                <td>【代引きの場合】<br>
                    商品のお届け時に、配達員に代金の支払いをお願いします。<br>
                    <br>
                    【銀行振込の場合】<br>
                    ご注文日を含む10日以内に下記口座へご入金をお願いします。<br>
                    <br>
                    ▪️那覇銀行<br>
                    ▪️那覇支店<br>
                    ▪️普通<br>
                    ▪️123456<br>
                    ▪️株式会社那覇魚類
                </td>
            </tr>

            <tr>
                <th>返品・交換について</th>
                <td>ご注文確定後のお客様都合によるキャンセル・返品・交換・ご注文内容の変更は、原則承っておりません。<br>
                    商品の品質につきましては万全を期しておりますが、万が一、ご注文商品と異なる商品が届いた場合や、配送中などになんらかの不備が生じた場合は速やかに代替品などの手配を取らせていただきます。<br>
                    <br>
                    ご注文商品と異なる商品や不良品をお届けした場合、商品到着後1週間以内に下記メールアドレスまでご連絡いただきますようお願い申し上げます。
                    <br>
                    sample@sample.co.jp<br>
                    営業時間：8:00～17:00<br>
                    <br>
                    商品の汚損・破損等、当店の不手際による返品の場合の送料は当店にて負担いたします。
                </td>
            </tr>
        </table>

    </div>
</section>