<!------------------------ 下層ファーストビュー ---------------------->
<section id="fv_under">
    <img class="fv_deco_01" src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/under_fv_deco_01.png" alt="">
    <div class="section_title">
        <img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/section_title2.png" alt="">
        <h1>那覇魚類について</h1>
        <span>ABOUT NAHA GYORUI</span>
    </div>
    <img class="fv_deco_02" src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/under_fv_deco_02.png" alt="">
</section>


<!------------------------ ページ内リンク ---------------------->

<section id="page_link">
    <div class="section_inner">
        <a href="#about_01">那覇魚類の強み</a>
        <a href="#about_02">業務内容</a>
    </div>
</section>

<!-- 追従 -->
<div class="follow follow_2">
    <a href="list.html">
        <img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/follow_img_01.png" alt="">
        <span>
            <img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/follow_img_02.svg" alt="">
        </span>
    </a>
</div>

<!------------------------ アバウト ---------------------->
<section id="about">
    <div class="about_slide_01">
        <img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/about_slide_01.png" alt="">
        <img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/about_slide_02.png" alt="">
        <img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/about_slide_03.png" alt="">
        <img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/about_slide_04.png" alt="">
    </div>

    <div class="about_explain">
        <h2 class="fadeUpTrigger delay-time02">新鮮な<br class="is_sp">海の幸を<br class="is_sp">沖縄から<br
                class="is_sp">全国へ</h2>
        <div class="about_explain_text fadeUpTrigger delay-time04">
            <p>那覇魚類は、沖縄の食品加工会社として、マグロやカツオ、ソデイカを中心とした魚介類の加工品と惣菜品を取り扱っています。</p>
            <p>沖縄県糸満市が誇る水揚げ量日本一の「ソデイカ」の商品は沖縄の食卓では定番の品。おつまみに、副菜に、、多くの人に楽しんでいただいております。</p>
            <p>オンラインショップでは全国発送も行っております！</p>
        </div>
    </div>
    <div class="about_explain_text_sp fadeUpTrigger delay-time04">
        <p>那覇魚類は、沖縄の食品加工会社として、マグロやカツオ、ソデイカを中心とした魚介類の加工品と惣菜品を取り扱っています。</p>
        <p>沖縄県糸満市が誇る水揚げ量日本一の「ソデイカ」の商品は沖縄の食卓では定番の品。おつまみに、副菜に、、多くの人に楽しんでいただいております。</p>
        <p>オンラインショップでは全国発送も行っております！</p>
    </div>
</section>

<!------------------------ つよみ ---------------------->
<section id="about_01">
    <!-- <div class="section_inner"> -->
    <div class="section_title3">
        <h2>那覇魚類のつよみ</h2>
    </div>

    <div class="about_01_bg">
        <div class="about_01_flex">
            <div class="about_01_flex_left">
                <div class="about_title_01">
                    <p>県内で唯一、冷凍マグロの解凍から加工まで行います</p>
                    <h3>冷凍マグロ工場</h3>
                    <svg xmlns="http://www.w3.org/2000/svg" width="580" height="7" viewBox="0 0 583 7"
                        fill="none">
                        <path
                            d="M1 3.5C4.22778 0.166667 7.45556 0.166667 10.6833 3.5C13.9111 6.83333 17.1389 6.83333 20.3667 3.5C23.5944 0.166667 26.8222 0.166667 30.05 3.5C33.2778 6.83333 36.5056 6.83333 39.7333 3.5C42.9611 0.166667 46.1889 0.166667 49.4167 3.5C52.6444 6.83333 55.8722 6.83333 59.1 3.5C62.3278 0.166667 65.5556 0.166667 68.7833 3.5C72.0111 6.83333 75.2389 6.83333 78.4667 3.5C81.6944 0.166667 84.9222 0.166667 88.15 3.5C91.3778 6.83333 94.6056 6.83333 97.8333 3.5C101.061 0.166667 104.289 0.166667 107.517 3.5C110.744 6.83333 113.972 6.83333 117.2 3.5C120.428 0.166667 123.656 0.166667 126.883 3.5C130.111 6.83333 133.339 6.83333 136.567 3.5C139.794 0.166667 143.022 0.166667 146.25 3.5C149.478 6.83333 152.706 6.83333 155.933 3.5C159.161 0.166667 162.389 0.166667 165.617 3.5C168.844 6.83333 172.072 6.83333 175.3 3.5C178.528 0.166667 181.756 0.166667 184.983 3.5C188.211 6.83333 191.439 6.83333 194.667 3.5C197.894 0.166667 201.122 0.166667 204.35 3.5C207.578 6.83333 210.806 6.83333 214.033 3.5C217.261 0.166667 220.489 0.166667 223.717 3.5C226.944 6.83333 230.172 6.83333 233.4 3.5C236.628 0.166667 239.856 0.166667 243.083 3.5C246.311 6.83333 249.539 6.83333 252.767 3.5C255.994 0.166667 259.222 0.166667 262.45 3.5C265.678 6.83333 268.906 6.83333 272.133 3.5C275.361 0.166667 278.589 0.166667 281.817 3.5C285.044 6.83333 288.272 6.83333 291.5 3.5C294.728 0.166667 297.956 0.166667 301.183 3.5C304.411 6.83333 307.639 6.83333 310.867 3.5C314.094 0.166667 317.322 0.166667 320.55 3.5C323.778 6.83333 327.006 6.83333 330.233 3.5C333.461 0.166667 336.689 0.166667 339.917 3.5C343.144 6.83333 346.372 6.83333 349.6 3.5C352.828 0.166667 356.056 0.166667 359.283 3.5C362.511 6.83333 365.739 6.83333 368.967 3.5C372.194 0.166667 375.422 0.166667 378.65 3.5C381.878 6.83333 385.106 6.83333 388.333 3.5C391.561 0.166667 394.789 0.166667 398.017 3.5C401.244 6.83333 404.472 6.83333 407.7 3.5C410.928 0.166667 414.156 0.166667 417.383 3.5C420.611 6.83333 423.839 6.83333 427.067 3.5C430.294 0.166667 433.522 0.166667 436.75 3.5C439.978 6.83333 443.206 6.83333 446.433 3.5C449.661 0.166667 452.889 0.166667 456.117 3.5C459.344 6.83333 462.572 6.83333 465.8 3.5C469.028 0.166667 472.256 0.166667 475.483 3.5C478.711 6.83333 481.939 6.83333 485.167 3.5C488.394 0.166667 491.622 0.166667 494.85 3.5C498.078 6.83333 501.306 6.83333 504.533 3.5C507.761 0.166667 510.989 0.166667 514.217 3.5C517.444 6.83333 520.672 6.83333 523.9 3.5C527.128 0.166667 530.356 0.166667 533.583 3.5C536.811 6.83333 540.039 6.83333 543.267 3.5C546.494 0.166667 549.722 0.166667 552.95 3.5C556.178 6.83333 559.406 6.83333 562.633 3.5C565.861 0.166667 569.089 0.166667 572.317 3.5C575.544 6.83333 578.772 6.83333 582 3.5"
                            stroke="#285AA8" />
                    </svg>
                </div>

                <div class="about_01_sp_img">
                    <img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/about_01_flex_right_01_sp.png" alt="">
                </div>

                <div class="about_point about_point_01">
                    <h4>超低温冷凍保管が可能なマグロ工場</h4>
                    <div class="about_point_text">
                        <p>本土では超低温で保管されています。<br>
                            那覇魚類は生マグロが不足した時に、急速冷凍マグロを出荷しています。</p>
                    </div>
                </div>
            </div>
            <div class="about_01_flex_right">
                <img class="about_01_flex_right_01 target animeLeft" src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/about_01_flex_right_01.png"
                    alt="">
                <img class="about_01_flex_right_02 target animeRight" src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/about_01_flex_right_02.png"
                    alt="">
            </div>
        </div>
    </div>

    <div class="about_01_bg about_01_bg2">
        <div class="about_01_flex">
            <div class="about_01_flex_left">
                <div class="about_title_01">
                    <p>糸満市はソデイカの水揚げ量<span>日本一！</span></p>
                    <h3>ソデイカ加工・販売</h3>
                    <svg xmlns="http://www.w3.org/2000/svg" width="580" height="7" viewBox="0 0 583 7"
                        fill="none">
                        <path
                            d="M1 3.5C4.22778 0.166667 7.45556 0.166667 10.6833 3.5C13.9111 6.83333 17.1389 6.83333 20.3667 3.5C23.5944 0.166667 26.8222 0.166667 30.05 3.5C33.2778 6.83333 36.5056 6.83333 39.7333 3.5C42.9611 0.166667 46.1889 0.166667 49.4167 3.5C52.6444 6.83333 55.8722 6.83333 59.1 3.5C62.3278 0.166667 65.5556 0.166667 68.7833 3.5C72.0111 6.83333 75.2389 6.83333 78.4667 3.5C81.6944 0.166667 84.9222 0.166667 88.15 3.5C91.3778 6.83333 94.6056 6.83333 97.8333 3.5C101.061 0.166667 104.289 0.166667 107.517 3.5C110.744 6.83333 113.972 6.83333 117.2 3.5C120.428 0.166667 123.656 0.166667 126.883 3.5C130.111 6.83333 133.339 6.83333 136.567 3.5C139.794 0.166667 143.022 0.166667 146.25 3.5C149.478 6.83333 152.706 6.83333 155.933 3.5C159.161 0.166667 162.389 0.166667 165.617 3.5C168.844 6.83333 172.072 6.83333 175.3 3.5C178.528 0.166667 181.756 0.166667 184.983 3.5C188.211 6.83333 191.439 6.83333 194.667 3.5C197.894 0.166667 201.122 0.166667 204.35 3.5C207.578 6.83333 210.806 6.83333 214.033 3.5C217.261 0.166667 220.489 0.166667 223.717 3.5C226.944 6.83333 230.172 6.83333 233.4 3.5C236.628 0.166667 239.856 0.166667 243.083 3.5C246.311 6.83333 249.539 6.83333 252.767 3.5C255.994 0.166667 259.222 0.166667 262.45 3.5C265.678 6.83333 268.906 6.83333 272.133 3.5C275.361 0.166667 278.589 0.166667 281.817 3.5C285.044 6.83333 288.272 6.83333 291.5 3.5C294.728 0.166667 297.956 0.166667 301.183 3.5C304.411 6.83333 307.639 6.83333 310.867 3.5C314.094 0.166667 317.322 0.166667 320.55 3.5C323.778 6.83333 327.006 6.83333 330.233 3.5C333.461 0.166667 336.689 0.166667 339.917 3.5C343.144 6.83333 346.372 6.83333 349.6 3.5C352.828 0.166667 356.056 0.166667 359.283 3.5C362.511 6.83333 365.739 6.83333 368.967 3.5C372.194 0.166667 375.422 0.166667 378.65 3.5C381.878 6.83333 385.106 6.83333 388.333 3.5C391.561 0.166667 394.789 0.166667 398.017 3.5C401.244 6.83333 404.472 6.83333 407.7 3.5C410.928 0.166667 414.156 0.166667 417.383 3.5C420.611 6.83333 423.839 6.83333 427.067 3.5C430.294 0.166667 433.522 0.166667 436.75 3.5C439.978 6.83333 443.206 6.83333 446.433 3.5C449.661 0.166667 452.889 0.166667 456.117 3.5C459.344 6.83333 462.572 6.83333 465.8 3.5C469.028 0.166667 472.256 0.166667 475.483 3.5C478.711 6.83333 481.939 6.83333 485.167 3.5C488.394 0.166667 491.622 0.166667 494.85 3.5C498.078 6.83333 501.306 6.83333 504.533 3.5C507.761 0.166667 510.989 0.166667 514.217 3.5C517.444 6.83333 520.672 6.83333 523.9 3.5C527.128 0.166667 530.356 0.166667 533.583 3.5C536.811 6.83333 540.039 6.83333 543.267 3.5C546.494 0.166667 549.722 0.166667 552.95 3.5C556.178 6.83333 559.406 6.83333 562.633 3.5C565.861 0.166667 569.089 0.166667 572.317 3.5C575.544 6.83333 578.772 6.83333 582 3.5"
                            stroke="#285AA8" />
                    </svg>
                    <p>糸満漁協組合の主力海産物ソデイカ<br>
                        「短冊」にし、真空パックで県外出荷しています。</p>
                </div>

                <div class="about_01_sp_img">
                    <img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/about_01_flex_right_02_sp.png" alt="">
                </div>

                <div class="about_point">
                    <h4>当社の主力製品「ソデイカ」</h4>
                    <div class="about_point_text">
                        <p>那覇魚類は、沖縄県で平成元年から西崎で操業を開始しました。<br>
                            食品取扱業者として、取扱商品におけるソデイカの割合は20％を占め、当社の主力製品となっています。</p>
                    </div>
                </div>

                <div class="about_point">
                    <h4>ソデイカの加工・販売</h4>
                    <div class="about_point_text">
                        <p>年間水揚げ約900トン糸満漁協組合の主力海産物ソデイカ を競りで仕入れ、<br>その多くを「短冊」にし、真空パックで県外出荷しています。<br>
                            仕入れたソデイカのすべてを自社で商品化・販売し、 消費拡大に向けて日々取り組んでおります。</p>
                    </div>
                </div>

            </div>

            <div class="about_01_flex_right">
                <img class="about_01_flex_right_03 target animeLeft" src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/about_01_flex_right_03.png"
                    alt="">
                <img class="about_01_flex_right_04 target animeRight" src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/about_01_flex_right_04.png"
                    alt="">
                <img class="about_01_flex_right_05 target animeLeft" src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/about_01_flex_right_05.png"
                    alt="">
            </div>
        </div>


        <!-- 製造工程 -->
        <div class="about_01_box">
            <div class="about_title_02 fadeUpTrigger delay-time02">
                <h5>ソデイカの製造工程</h5>
            </div>
            <div class="about_box_wrap fadeUpTrigger delay-time04">
                <div class="about_box_inner">
                    <img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/about_box_01.png" alt="">
                    <p>原体を軽量し、選別する</p>
                </div>

                <div class="about_box_inner">
                    <img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/about_box_02.png" alt="">
                    <p>耳・皮を剥ぐ</p>
                </div>

                <div class="about_box_inner">
                    <img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/about_box_03.png" alt="">
                    <p>薄皮をとる</p>
                </div>

                <div class="about_box_inner">
                    <img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/about_box_04.png" alt="">
                    <p>洗浄し、カットする前</p>
                </div>

                <div class="about_box_inner">
                    <img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/about_box_05.png" alt="">
                    <p>6cm幅にカットする（冊取り）</p>
                </div>

                <div class="about_box_inner">
                    <img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/about_box_06.png" alt="">
                    <p>形を形成する</p>
                </div>
            </div>

            <!-- <div class="progress-bar">
                <div class="progress"></div>
            </div> -->
        </div>

        <!-- 真空パック -->
        <div class="about_01_box shinku">
            <div class="about_title_02 fadeUpTrigger delay-time02">
                <h5>ソデイカ真空パック</h5>
            </div>
            <div class="about_img fadeUpTrigger delay-time04">
                <img class="is_pc" src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/about_box_07.png" alt="">
                <img class="is_sp" src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/about_box_07_sp.png" alt="">
            </div>
        </div>

        <!-- 販売方法 -->
        <div class="about_01_box">
            <div class="about_title_02 fadeUpTrigger delay-time02">
                <h5>業者様へ-販売方法</h5>
            </div>
            <ul class="fadeUpTrigger delay-time04">
                <li>●梱包は、５ｋｇ×２合（１０ｋｇ）　ｏｒ　３ｋｇ×３合（９ｋｇ）の２種類があります。</li>
                <li>●３００ｋｇ以上での発注となります。</li>
                <li>●発送は船便となりますので、納期に１週間かかる場合があります。</li>
                <li>●発注は、希望納期の２週間前にお願い致します。 （発注書は、ＦＡＸにてお願いいたします。）</li>
                <li>●現金支払い、宅急便などお支払い方法はご相談に応じます。</li>
            </ul>
            <div class="about_img fadeUpTrigger delay-time06">
                <img class="is_pc" src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/about_box_08.png" alt="">
                <img class="is_sp" src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/about_box_08_sp.png" alt="">
            </div>
        </div>
    </div>
    <!-- </div> -->
</section>


<!------------------------ 業務内容 ---------------------->
<section id="about_02">
    <div class="section_inner">
        <div class="section_title3">
            <h2>業務内容</h2>
        </div>

        <div class="about_02_flex fadeUpTrigger delay-time02">
            <div class="about_02_flex_inner">
                <h3>水産食品加工場の設備</h3>
                <img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/about_02_flex_01.png" alt="">
                <div class="about_02_flex_text">
                    <h4>新鮮な海の幸を沖縄から全国へ</h4>
                    <p>那覇魚類は、沖縄県で平成元年から西崎で操業を開始しました。<br>
                        食品取扱業者として、取扱商品におけるソデイカの割合は20％を占め、当社の主力製品となっています。</p>
                </div>
            </div>

            <div class="about_02_flex_inner">
                <h3>品質管理・衛生管理</h3>
                <img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/about_02_flex_02.png" alt="">
                <div class="about_02_flex_text">
                    <h4>安全・安心を支える管理体制</h4>
                    <p>那覇魚類 株式会社では、食の安全・安心に関するニーズに応えるべく、<br>衛生管理体制や品質管理方法をしっかりと整え、<br>全ての作業従事者に周知徹底を行っております。</p>
                </div>
            </div>

            <div class="about_02_flex_inner">
                <h3>自社製品の製造・販売</h3>
                <img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/about_02_flex_03.png" alt="">
                <div class="about_02_flex_text">
                    <h4>マグロ・カツオやソデイカ等の加工・販売</h4>
                    <p>ソデイカ・わさび類・厚焼玉子（沖縄県産卵を使用）・焼海苔<br>水産加工品・冷凍魚・中華イカ・ネギトロ、寿司ネタ類等、<br>
                        （自社加工約30％、メーカー品約70％）<br>
                        自社製品に力を入れております。</p>
                </div>
            </div>
        </div>

        <!-- 各工場 -->
        <div class="kojo_wrap fadeUpTrigger delay-time02">
            <img class="kojo_img is_pc" src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/kojo_img.svg" alt="">
            <img class="kojo_img is_sp" src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/kojo_img_sp.svg" alt="">
            <div class="kojo_flex">
                <div class="kojo_inner">
                    <img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/kojo_01.png" alt="">
                    <button data-modal="modal1">カツオ工場</button>
                </div>

                <div class="kojo_inner">
                    <img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/kojo_01.png" alt="">
                    <button data-modal="modal2">大根工場</button>
                </div>

                <div class="kojo_inner">
                    <img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/kojo_01.png" alt="">
                    <button data-modal="modal3">玉子工場</button>
                </div>

                <div class="kojo_inner">
                    <img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/kojo_04.png" alt="">
                    <button data-modal="modal4">ソデイカ工場</button>
                </div>

                <div class="kojo_inner">
                    <img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/kojo_05.png" alt="">
                    <button data-modal="modal5">ネギトロ工場</button>
                </div>

                <div class="kojo_inner">
                    <img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/kojo_06.png" alt="">
                    <button data-modal="modal6">マグロ工場</button>
                </div>

                <div class="kojo_inner">
                    <img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/kojo_07.png" alt="">
                    <button data-modal="modal7">蒲鉾工場</button>
                </div>

                <div class="kojo_inner">
                    <img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/kojo_01.png" alt="">
                    <button data-modal="modal8"><span class="is_pc">（焼き・きざみ）</span>
                        海苔工場</button>
                </div>
            </div>
        </div>

        <!-- モーダル -->
        <div id="modal1" class="modal">
            <span class="close" onclick="closeModal('modal1')">&times;</span>
            <img class="modal-content" src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/kojo_01.png" alt="カツオ工場">
            <div class="caption">カツオ工場</div>
        </div>

        <div id="modal2" class="modal">
            <span class="close" onclick="closeModal('modal2')">&times;</span>
            <img class="modal-content" src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/kojo_01.png" alt="大根工場">
            <div class="caption">大根工場</div>
        </div>

        <div id="modal3" class="modal">
            <span class="close" onclick="closeModal('modal3')">&times;</span>
            <img class="modal-content" src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/kojo_01.png" alt="玉子工場">
            <div class="caption">玉子工場</div>
        </div>

        <div id="modal4" class="modal">
            <span class="close" onclick="closeModal('modal4')">&times;</span>
            <img class="modal-content" src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/kojo_04.png" alt="ソデイカ工場">
            <div class="caption">ソデイカ工場</div>
        </div>

        <div id="modal5" class="modal">
            <span class="close" onclick="closeModal('modal5')">&times;</span>
            <img class="modal-content" src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/kojo_05.png" alt="ネギトロ工場">
            <div class="caption">ネギトロ工場</div>
        </div>

        <div id="modal6" class="modal">
            <span class="close" onclick="closeModal('modal6')">&times;</span>
            <img class="modal-content" src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/kojo_06.png" alt="マグロ工場">
            <div class="caption">マグロ工場</div>
        </div>

        <div id="modal7" class="modal">
            <span class="close" onclick="closeModal('modal7')">&times;</span>
            <img class="modal-content" src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/kojo_07.png" alt="蒲鉾工場">
            <div class="caption">蒲鉾工場</div>
        </div>

        <div id="modal8" class="modal">
            <span class="close" onclick="closeModal('modal8')">&times;</span>
            <img class="modal-content" src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/kojo_01.png" alt="（焼き・きざみ）海苔工場">
            <div class="caption">（焼き・きざみ）海苔工場</div>
        </div>
    </div>
</section>

<section id="about_roop">
    <ul class="about_roop">
        <li><img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/about_roop_01.png" alt=""></li>
        <li><img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/about_roop_02.png" alt=""></li>
        <li><img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/about_roop_03.png" alt=""></li>
        <li><img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/about_roop_04.png" alt=""></li>
        <li><img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/about_roop_05.png" alt=""></li>
        <li><img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/about_roop_06.png" alt=""></li>
        <li><img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/about_roop_07.png" alt=""></li>
        <li><img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/about_roop_08.png" alt=""></li>
    </ul>
</section>

<!------------------------ お問い合わせ ---------------------->
<section id="top_contact" class="about_contact">
    <div class="top_contact_bg">
        <div class="section_inner">
            <div class="section_title fadeUpTrigger delay-time02">
                <img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/section_title2.png" alt="">
                <h2>お問い合わせ</h2>
                <span>CONTACT</span>
            </div>

            <div class="top_contact_wrap fadeUpTrigger delay-time04">
                <div class="top_tel">
                    <p>お電話から</p>
                    <a class="" href="tel:098-994-6277">
                        <img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/top_tel.svg" alt="">
                        098-994-6277
                    </a>
                    <span class="is_pc_span">■営業時間：8:00〜17:00 | ■休日：水曜日・日曜・祝祭日</span>
                    <span class="is_sp_span">■営業時間：8:00〜17:00<br>■休日：水曜日・日曜・祝祭日</span>
                </div>


                <div class="top_form">
                    <a class="" href="contact.html">
                        <img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/top_form.svg" alt="">
                        お問い合わせフォームから
                    </a>
                </div>
            </div>

            <div class="top_faq fadeUpTrigger delay-time06">
                <h3><img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/top_faq.svg" alt="">よくあるご質問</h3>
                <p>お客様からよく寄せられる質問とその回答を<br class="is_pc">まとめておりますので、ぜひご覧ください。</p>
                <a class="btn_02" href="faq.html">
                    よくあるご質問を見る
                </a>
            </div>
        </div>
    </div>
</section>