 <!------------------------ 下層ファーストビュー ---------------------->
 <section id="fv_under">
    <img class="fv_deco_01" src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/under_fv_deco_01.png" alt="">
    <div class="section_title">
        <img src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/section_title2.png" alt="">
        <h1>会社概要</h1>
        <span>COMPANY</span>
    </div>
    <img class="fv_deco_02" src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/under_fv_deco_02.png" alt="">
    <img class="under_nami" src="https://cdn.shopify.com/s/files/1/0637/0174/5872/files/under_nami.png" alt="">
</section>


<!------------------------ 会社概要 ---------------------->

<section id="company">
    <div class="section_inner">
        <table>
            <tr>
                <th>会社名</th>
                <td>株式会社那覇魚類</td>
            </tr>

            <tr>
                <th>代表取締役</th>
                <td>山田　太郎</td>
            </tr>

            <tr>
                <th>設立</th>
                <td>1900年 12月 1日</td>
            </tr>

            <tr>
                <th>資本金</th>
                <td>100万円</td>
            </tr>

            <tr>
                <th>従業員</th>
                <td>20人</td>
            </tr>

            <tr>
                <th>所在地</th>
                <td>〒901-0306　<br class="is_sp">沖縄県糸満市西崎町4-12-2</td>
            </tr>

            <tr>
                <th>TEL</th>
                <td>098-994-6277</td>
            </tr>

            <tr>
                <th>FAX</th>
                <td>098-992-2454</td>
            </tr>

            <tr>
                <th>メールアドレス</th>
                <td>info@sample.com</td>
            </tr>

            <tr>
                <th>事業内容</th>
                <td>魚介類の加工品及び惣菜品の生産販売</td>
            </tr>
        </table>

        <div class="gmap">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14327.328877958129!2d127.657117!3d26.137013!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34e567ebacff5c1d%3A0xe2b87cea29425ab2!2z6YKj6KaH6a2a6aGeKOagqikg57O45rqA5Za25qWt5omA!5e0!3m2!1sja!2sjp!4v1717059709418!5m2!1sja!2sjp"
                width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</section>